In [4]:
import cassandra
print(cassandra.__version__)

3.26.0

In [7]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config = {
    'secure_connect_bundle': r'C:\Users\Azhar\Desktop\Spark Streaming\secure-connect-spark-streaming.zip'
}
auth_provider = PlainTextAuthProvider('nfdAilQwuGEZGIrXXNakkdEb', '.O37e_xTeZZXi+UQZrM8IH29pdbSXDj6LgCPiJ3+E8Dla0nX+bQMgHBO4tka71rPXEREt,o_rwUjYJBBFsERMk04fGW6vmX+U7rUvCpUBaef2r,ZZlaWzHOCvGFZ0Mek')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

result = session.execute("select release_version from system.local")

row = result.one()

if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6816

In [8]:
# Command to use a keyspace
try:
    query = "use orders_data"
    session.execute(query)
    print("Inside the orders_data")
except Exception as err:
    print("Exception Occured while using Keyspace : ",err)

Inside the orders_data

In [11]:
try:
    query = """CREATE TABLE orders_data (
                order_id INT,
                customer_id INT,
                item_id INT,
                order_date TIMESTAMP,
                item_value INT,
                quantity INT,
                total_amount INT,
                PRIMARY KEY (order_id)
              )
            """
    session.execute(query)
    print("Table created inside the keyspace")
except Exception as err:
    print("Exception Occurred while creating the table:", err)

Table created inside the keyspace